.pf-c-toggle-group {
  background: red;
  padding: 100px;
  text-align: center;
}
.pf-c-toggle-group:hover {
  background: #ccc;
}

.pf-c-table {
  thead {
    tr {
      th {
        color: green;
      }
    }
  }
}
